@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

:root {
  --title-font: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  --menu-font: sans-serif;
}

body {
  background-color: #1e071e;
}

/*  */
/*  */
/*  */

.navbar {
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 99vw;
  height: 7vh;
  background: #1e071e;
}

.navbar div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 7vh;
  font-size: 1.3em;
  /* background: blue; */
}
.navbar div {
  font-family: var(--title-font);
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 7vh;
}

.navbar ul li {
  list-style: none;
  font-family: var(--menu-font);
  font-size: 1.5em;
}
.navbar ul li a {
  text-decoration: underline double;
}

/*  */
/*  */
/*  */
/*  */

#about{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

#about .left{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about .left img{
  border-radius: 100%;
}

#about .left{
  width: 30vw;
}

#about .right{
  width: 60vw;
}

#about .right p details summary{
  text-align: center;
  font-size: 1.5em;
}


/*  */
/*  */
/*  */
.skills{
  max-width: 100vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .skill-box{
  display: flex;
  align-items: center;
  width: 80vw;
  flex-direction: column;
}

.skills .skill-box .sub-skill-box{
  justify-content: space-around;
  display: flex;
  width: 80vw;
  flex-direction: row;
}

.title h1 {
  text-align: center;
  font-size: 3em;
}

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}